spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:postgresql://localhost:5432/b2g_catalog
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: -1
      connection-timeout: 30000
      validation-timeout: 5000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    publisher-confirm-type: correlated
    publisher-returns: true

app:
  rabbitmq:
    exchange: b2g.topic.exchange
    queue:
      name: catalog
    routingkey:
      book:
        creation: book.created

server:
  port: 8091

authService:
  internal:
    url: http://localhost:8090/internal

rentalService:
  internal:
    url: http://localhost:8099/rental/internal

logging:
  level:
    com.b2g.catalogservice: DEBUG
    org.springframework.security: DEBUG
