server:
  port: ${SERVER_PORT:8091}

spring:
  application:
    name: catalog-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/b2g_catalog}
    username: ${SPRING_DATASOURCE_USERNAME:user}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: ${SPRING_HIKARI_INIT_FAIL:-1}
      connection-timeout: ${SPRING_HIKARI_CONN_TIMEOUT:30000}
      validation-timeout: ${SPRING_HIKARI_VALID_TIMEOUT:5000}
      idle-timeout: ${SPRING_HIKARI_IDLE_TIMEOUT:600000}
      max-lifetime: ${SPRING_HIKARI_MAX_LIFETIME:1800000}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:rabbitmq}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    publisher-confirm-type: correlated
    publisher-returns: true

authService:
  internal:
    url: ${AUTH_SERVICE_INTERNAL_URL:http://auth-service:8090}
  jwks:
    url: ${AUTH_SERVICE_JWKS_URL:http://auth-service:8090/auth/.well-known/jwks.json}

jwt:
  public-key:
    cache:
      seconds: ${JWT_PUBLIC_KEY_CACHE:300}

app:
  rabbitmq:
    exchange: ${APP_RABBITMQ_EXCHANGE:b2g.topic.exchange}
    queue:
      name: ${APP_RABBITMQ_QUEUE:catalog}
    routingkey:
      book:
        creation: ${APP_RK_BOOK_CREATION:book.created}
      format:
        created: ${APP_RK_FORMAT_CREATED:book.format.created}
    bindinkey:
      rating.updated: ${APP_RK_RATING_UPDATED:book.rating.updated}
      availability:
        all: ${APP_RK_AVAILABILITY_ALL:book.availability.*}
        available: ${APP_RK_AVAILABILITY_AVAILABLE:book.availability.available}
        low: ${APP_RK_AVAILABILITY_LOW:book.availability.low}
        out: ${APP_RK_AVAILABILITY_OUT:book.availability.out}
        not_available: ${APP_RK_AVAILABILITY_NOT_AVAILABLE:book.availability.not_available}

logging:
  level:
    com.b2g.catalogservice: DEBUG
    org.springframework.security: DEBUG