apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata-pvc
  namespace: book2go
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 800Mi # Richiedi 500 MB di storage